.tabs {
    padding: 0.5rem 0.5rem;
    background-color: #848484;
    // border: 1px solid red;
    cursor: pointer;
    color: #bfbfbf;

}



.active-tabs {
    background-color: #444444;
    border-left: 2px solid black;
    // transparent

    // ::before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     // top: -5px;
    //     // left: 50%;
    //     // top: 50%;
    //     left: -5px;
    //     transform: translateX(-50%);
    //     width: calc(100% + 2px);
    //     height: 10px;
    //     background: rgb(88, 147, 241);
    // }
}



.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    border: 1px solid blue;
} 


.active-content {
    display: block;
}