/* GitHub Dark */
:root {
    //BioComp variables
    $bioComp-card-bg: #3f3f3f;
    $bioComp-card-textColor: #eee;
    $bioComp-card-boxShadow-color: #f9f9f9;
    $bioComp-card-ptag-span-textColor: $warning;
    $bioComp-card-ptag-small-textColor: #cec;
    $bioComp-heading-span-textColor: yellowgreen;
    $bioComp-stack-bg: $warning;;
    $bioComp-stack-textColor: #fff;
    $bioComp-stack-bg-hover: whitesmoke;

    //AsideBar variables
    $asideBar-container-bg: #848484;
    $asideBar-textColor: #bfbfbf;
    $asideBar-activeTabs-bg: #444444;
    $asideBar-content-bg: #444444;

    //AboutComp variables
    $aboutStack-bg: $warning;
    $aboutStack-bg-hover: whitesmoke;
    $aboutStack-boxShadow: rgba(0, 0, 0, 0.4);
    $aboutStack-textColor: #fff;
    $aboutStack-heading-span-color: yellowgreen;
    $aboutStack-p-span-color: $warning;;
    $aboutStack-p-small-textColor: #cec;

    //Codelines variables
    $codelines-container-bg: #757575;
    $codelines-ul: #e0e0e0;

    //ExplorerComp variables
    $explorerMenu-bg: #616161;
    $explorerPortfolioItem-bg: #bfbfbf;
    $explorerPortfolioItem-bg-hover: blue;
    $explorerTopSectionLabel-bg: #3f3f3f;
    $explorerTopSectionLabel-color: whitesmoke;
    $explorerPortfolioLabel-bg: #818181;
    $explorerPortfolioLabel-bg-hover: #bfbfbf;
    $explorerPortfolioLabel-color: whitesmoke;
    // $explorerPortfolioItem-bg-hover: #bfbfbf;
    $explorerSpan-bg: gray;

    //FilepathComp variables
    $filepath-bg: #616161;
    $filepath-border-color: #757575;
    $filepath-span-color: #ebe9ec; 
    $filepath-span-hover-color: $warning; 

    //FooterComp variables
    $footerContainer-bg: #3f3f3f;
    $footerContainer-color: #fff;
    $footerLogoSpan-color: $warning;
    $footerLeftContent-bg-hover: rgba(255, 255, 255, 0.5);    

    //FormComp variables
    $form-label-color: #222021;
    $form-Btn-bg: $warning;
    $form-Btn-color: #222021;
    $form-Btn-bg-hover-focus: #b8161f;
    $form-Btn-hover-focus-color: #fff;

    //Custom Modals variables
    $modalItem-color: #ccf;
    $modalItem-bg: rgba(255, 255, 255, 0.2);
    $modalItem-p-color: #ccc;
    $modalComp-bg: rgba(0, 0, 0, 0.4);
    $modalCompContent-bg: #888;
    $modalCompContent-bg-hover: #444444;
    $modalCompContent-p-textColor: #fefefe;
    $themesModalContainer-bg: rgba(0, 0, 0, 0.8);
    $themesModalContainer-color: #ccf;

    //Scrollbar variables
    $scrollbar-track-bg: #f1f1f1;
    $scrollbar-track-boxShadow: gray;
    $scrollbar-thumb-bg: #888;
    $scrollbar-thumb-bg-hover: #555;

    //PageLayout variables
    $pageLayout-bg: #616161;

    //ProjectSchema variables
    $projectContainer-bg: #16161a;
    $projectContainer-boxShadow-color: #e0e0e0;
    $projectTitle-color: #e0e0e0;
    $projectStack-colour: gray;
    $projectTextDescription-textColor: #777778;
    $projectLink-color: gray;

    //SideBar variables
    $sideBarTitleContainer-bg: #616161;
    $sideBarTitle-textColor: whitesmoke;
    $sideBarCodebase-li-textColor: $warning;
    $sideBarCodebase-li-span-color: #fff;
    $siderBarMailComp-textColor: $warning;

    //SocialComps variables
    $socialCompLinks-hover: skyblue;

    //TabSchema variables
    $tabsTaskbarContainer-bg: #999999;
    $tabsTaskbar-borderBottom-color: #444444;
    $tabsTaskbar-scrollbar-track-boxShadow: rgba(0,0,0,0.3);
    $tabsTaskbar-scrollbar-thumb-outline: slategray;
    $tabsCollection-boxShadow: #e8e9ec;
    $tabBox-bg: #1d1d1d;
    $tabBox-borderBottom-color: $warning;
    $tabBox-fileName-textColor: $warning;


    //TitleBar variables
    $titleBar-Menu-bg: #3f3f3f;
    $titleBar-color: #fff;
    $titleBar-closeWindow-bg: #ff5555;
    $titleBar-MaxWindow-bg: #50fa7b;
    $titleBar-MinWindow-bg: #f1fa8c;
  
    //WelcomeComp variables
    $welcomeComp-heading-textColor: #444444;
    $welcomeComp-heading-span-color: orangered;
    $welcomeComp-heading-span-hover-color: orangered;

    //Button variables
    $btn-bg: #d1d3bd;
    $btn-color: #000;
    $btn-boxShadow: rgba(0, 0, 0, 0.1);
    $btn-bg-hover: #2ee59d;
    $btn-bg-hover-boxShadow: rgba(46, 229, 157, 0.4);
    $btn-bg-hover-color: #fff;
    
  }
  
  /* Mood Blink */
  [data-theme='mood-blink'] {
    //Codelines variables
    $codelines-container-bg: #f1fa8c;
    $codelines-ul: "red";
  }
  
  /* Color Splash */
  [data-theme='color-splash'] {
       //Codelines variables
    $codelines-container-bg: #2ee59d;
    $codelines-ul: "blue";
  }
  
  /* Glow Shades */
  [data-theme='glow-shades'] {
    //Codelines variables
    $codelines-container-bg: #ff5555;
    $codelines-ul: "#fff";
  }
  
  /* Moonlight Calls */
  [data-theme='moonlight-calls'] {
     //Codelines variables
     $codelines-container-bg: skyblue;
     $codelines-ul: "#000";
  }
  