.tabs {
    padding: 0.8rem 0.5rem;
    background-color: #848484;
    // border: 1px solid red;
    cursor: pointer;
    color: #bfbfbf;

}



.active-tabs {
    background-color: #444444;
    border-left: 2.5px solid #e8e9ec;
    // transparent


}



.content {
    background-color: #444444;
    // width: 100%;
    min-width: 11.953rem;
    width: 11.953rem;
    height: 100%;
    display: none;
    // border: 1px solid blue;
} 


.active-content {
    display: block;
    min-width: 11.953rem;
    width: 11.953rem;
}