.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 40vw;
    box-shadow: 6px 6px 6px gray;
    text-align: center;
    background: #fff;
}

.game {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.end-game {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 40vw;
    background: #fff;
    box-shadow: 12px 12px 10px gray;
}