@import "./variables";
@import "./helpers";
@import "./resets";
@import "./themeVariables";

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "menlo-regular";
  // font-family: "menlo-regular", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
    h1 {
      font-family: "air-extrabold";
    }
    
    a {
      color: inherit;
       text-decoration: none;
    }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

// p {
//     font-family: "air-regular";
// }

/*===== IMPORTING FONTS =====*/

// Menlo Fonts
@font-face {
  font-family: 'menlo-regular';
  src: url('../public/fonts/Menlo-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  // src: url('../public/fonts/Menlo-Regular.woff2') format('woff2'); /* IE */
  // src: url('../public/fonts/Menlo-Regular.woff') format('woff'); 
  // src: url('../public/fonts/Menlo-Regular.eot') format('embedded-opentype'); 
}  

@font-face {
  font-family: 'menlo-bold';
  src: url('../public/fonts/Menlo-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
  font-family: 'menlo-bold-italic';
  src: url('../public/fonts/Menlo-Bold-Italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@font-face {
  font-family: 'menlo-italic';
  src: url('../public/fonts/Menlo-Italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

// AirbnbCereal Fonts
@font-face {
  font-family: 'air-regular';
  src: url('../public/fonts/AirbnbCereal-Book.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  // font-weight: 400;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'air-semibold';
  src: url('../public/fonts/AirbnbCereal-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

@font-face {
  font-family: 'air-light';
  src: url('../public/fonts/AirbnbCereal-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

@font-face {
  font-family: 'air-bold';
  src: url('../public/fonts/AirbnbCereal-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'air-extrabold';
  src: url('../public/fonts/AirbnbCereal-ExtraBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 800;
  font-style: bold;
  font-display: swap;
} 

@font-face {
  font-family: 'air-black';
  src: url('../public/fonts/AirbnbCereal-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

